# ignore pycharm specific files
.idea/

# Byte-compiled / optimized / DLL files
**/__pycache__
**/data
**/runs
**/manual_classification_tool
**/.data
**/.vector_cache
**/saved_models
**/.ipynb_checkpoints
**/vector_cache