 <!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>

	<body>
		<div class="header">
			<h1>Email Classificatie Tool</h1>
		</div>

	<div class="row">
		<div class="column left">
			<div class ="email-display">

				<p>Email: </p>

<textarea class="textbox" rows="10" cols="80" readonly>
{{ email_text }}
</textarea>

				{% block content %}
				<p>Hieronder staan verschillende mogelijke klasses voor de email,
				gelieve de beste(n) te selecteren</p>
				<div class="container">
					{% for message in get_flashed_messages() %}
					<div class="alert-warning">
						{{ message }}
					</div>
					{% endfor %}
					{% block page_content %}{% endblock %}
					</div>
				{% endblock %}

			<form method="POST">
				{{ form.csrf_token }}
				{{ form.classes()}}
				{{ form.submit()}}
			</form>
			</div>
		</div>


	  <div class="column right">
		  <div class="statistics">
			<h3> Statistics </h3>
			<p>Aantal emails: {{ total }}</p>
			<p>Aantal emails geclassificeerd: {{ num_labeled }} </p>
			</div>
		</div>
	</div>
</body>
</html>