* {
  box-sizing: border-box;
}

.header {
  padding: 10px;
  text-align: center;
  background: grey;
  color: black;
  font-size: 20px;
}

.alert-warning{
    color: red;
}

.statistics{
    text-align: left;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}
